.main{
   margin: 0;
   padding: 0;
}

@media (max-width: 1200px){
   .main {
      width: 1200px;
   }
}

.main_Image {
   height: 30%;
   width: 10000px;
}

.homeboardList{
   margin: 50px;
   margin-left: 12%;
   margin-right: 12%;
   /* margin-right: 6%; */
}

.boardTitle {
   font-size: larger;
   font-weight: bold;
   padding-top: 4px;
}
.btn1 {
   margin-left: auto;
   border: 1px solid;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 25px;
   transition: all 0.2s;
}
.btn1:hover {
   color: white;
   background-color: black;
}
@media (prefers-color-scheme: dark) {
   .btn1 {
      background-color: white;
      color: black;
      transition: all 0.2s;
   }
   .btn1:hover {
      background-color: black;
      color: white;
   }
}

.HomeAlbumList{
   margin: 50px;
   margin-left: 12%;
   margin-right: 12%;
   /* margin-right: 6%; */
}
.menu {
   padding: 2px;
   margin: 10px;
   transition: all 0.2s;
   width: 200px;
}

.menu:hover{
   background-color: rgb(148, 167, 187);
   border-radius: 5px;
}

.allBoard {
   margin-left: 10%;
   margin-right: 10%;
}